@font-face {
    font-family: monument;
    src: url(./fonts/MonumentExtended-Regular.otf);
}
@font-face {
    font-family: gilroy;
    src: url(./fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position:relative;
    padding-top: 0.01px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

.nav{
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav h1{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: monument;
    font-weight: 900;
    letter-spacing: -2px;
    width: 25%;
    position: relative;
}
.nav h1::after{
    content: "\00A9";
    font-family: gilroy;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 20%;
    left: 79%;
}
.nav h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 100;
    font-size: 13px;
    position: absolute;
    letter-spacing: 0.01px;
    bottom: 20%;
    right: 21%;
}
.nav h2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-right: 2px solid black;
}
.nav h4{
    display: none;
}
.nav :nth-child(2){
    padding-right: 20px;
}
.nav :nth-child(3){
    padding-right: 30px;
}
.nav :nth-last-child(2){
    width: 10%;
    padding-right: 40px;
}

.center{
    height: 85vh;
    width: 100%;
    position: relative;
    padding: 0vw 4vw;
    padding-bottom: 2vw;
    padding-top: 1vw;
    margin-bottom: 40px;
}

.content{
    height: 100%;
    width: 100%;
    position: relative;
}

.content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom:0;
    padding: 3vw;
}
.over1 {
    display: flex;
    justify-content: space-between;
    height: 9vw;
    color: white;
    border-bottom: 2px solid white;
}
.over1 h1{
    font-family: monument;
    font-size: 3vw;
}
.over1 h2 {
    font-size: 1.2vw;
    height: 5vw; 
    width: 5vw; 
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
}
.over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 0px;
    height: 4vw;
}

.over2 img{
    height: 45px;
    padding-right: 15px;
}

.scroll{
    height: 46vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 85%;
    width: 98%;
    display: inline-block;
    padding-right: 1vw;
    padding-left: 1vw;
    animation-name: scroll-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 0;
}
.scroll-item {
    display: inline-block;
    margin-right: 1.4vw; 
    text-align: center;
    font-size: 16px;
}
.scroll #container .scroll-item img{
    height: 15vw;
    width: 15vw;  
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
}
.scroll-item h4 {
    font-family: monument;
    font-size: 1vw;
    letter-spacing: 1px;
    color: #333;
}

@keyframes scroll-animation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.alphabet{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.alphabet h5{
    font-size: 1.7vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 30px;
}

.alphabet h6{
    font-size: 1vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
}
.alphabet h6:hover{
    border: 1px solid rgb(0, 0, 0);
    transition: all ease 0.5s;
}
.page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 4vw;
}
.part1{
    height: 100%;
    width: 50%;
    background-image: url(https://select-s3.agencypin.com/files/gallery/8432/expanded/gallery_model_zBQpLKZH04la.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.part2{
    height: 100%;
    width: 45%;    
}

.part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
}

.part2-text{
    height: 25.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part2-text h4{
    font-size: 1.7vw;
    font-weight: 900;
}
.part2-text p{
    font-weight: 900;
    color: rgb(63, 63, 63);
}

.page3{
    height: 100%;
    width: 100%;
    padding: 0px 60px;
}

.page3-heading{
    height: 7vh;
    width: 100%;
    margin-bottom: 22px;
}
.page3-heading h1{
    font-family: monument;
    font-size: 35px;
}  

.page3-body{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page3-body-left {
    height: 90vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.page3-body-left img {
    margin-top: 25vh;
    height: 36vh;
    margin-bottom: 30px; 
    border-radius: 5px;
}

.page3-body-left h2 {
    font-size: 24px;
    margin-bottom: 2vh;
    margin-right: 40px;
}
.page3-body-right{
    height: 90vh;
    width: 55%;
}

.page3-body-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.page4{
    height: 80vh;
    width: 100%;
    padding: 3vw 4vw;
}

.page4-img{
    height: 100%;
    width: 100%;
}

.page4-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 10%;
    border-radius: 5px;
}

.page5{
    height: 100%;
    width: 100%;
    padding: 2vw 4vw;
}

.page5>h1{
    text-align: center;
    font-family: monument;
    font-size: 35px;
    margin-bottom: 4vw;
}

.elem{
    border-top: 2px solid black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.elem img{
    height: 95%;
    width: 8.5vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position: absolute;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
}
.elem:hover img{
    opacity: 1;
    left: 25%;
}
.elem:nth-last-child(1) img,
.elem:nth-last-child(3) img {
    left: auto; 
    right: 55%; 
}
.elem:nth-last-child(1):hover img,
.elem:nth-last-child(3):hover img {
    left: auto;
    right: 70%;
}
.elem>h4{
    padding-left: 7vh;
    width: 20px;
}
.last{
    border-bottom: 2px solid black;
}
.elem-right{
    width: 45%;
}
.elem-right h5{
    padding:4px 2px;
    color: rgb(36, 36, 36);
    font-weight: 900;
}

.page6{
    height: 100%;
    width: 100%;
    padding: 5vw 4vw;
    display: flex;
    justify-content: space-between;
}

.page6>img{
    height: 100%;
    width: 47%;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}
.page6-right{
    height: 100%;
    width: 47%;
}

.page6-right h1{
    margin-top: 1vh;
    font-family: monument;
    margin-bottom: 5vh;
}

.page6-right h4{
    font-size: 22px;
    margin-bottom: 30px;
    width: 80%;
}
.page6-right h6{
    font-size: 15px;
    margin-bottom: 26px;
    width: 90;
}

.pg6-rt-imgs{
    height: 43vh;
    width: 100%;
    display: flex;
    gap: 3vh;
}
.pg6-rt-imgs img{
    height: 100%;
    width: 55%;
    object-fit: cover;
}
.pg6-rt-imgs :nth-last-child(1){
    object-position: top;
    width: 42%;
}

.page7{
    height: 80%;
    width: 100%;
    padding: 0vw 4vw;
}
.page7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
}
.page8>img{
    height: 100%;
    width: 60%;
    object-fit: cover;
    object-position:45%;
    border-radius: 5px;
}
.pg8-rt{
    height: 100%;
    width: 37%;
}
.pg8-rt img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.pg8-sec2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pg8-sec2 h4{
    font-size: 22px;
    padding-top: 18px;
}
.pg8-sec2 h6{
    font-size: 16px;
    color: rgb(40, 40, 40);
}

.page9{
    height: 8vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.page9 h1{
    -webkit-text-stroke: 1px rgb(34, 34, 34);
    font-family: monument;
    color: transparent;
    font-size: 50px;
    letter-spacing: 5px;
    display: inline-block;
    animation-name: txt-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 20px;
}
@keyframes txt-animation{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 24px));
    }
}

.page10{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 6vw 0vw;
}
.page10>h1{
    font-family: monument;
}
.pg10-sec1{
    height: 100%;
    width: 30vw;
}
.pg10-sec1 h2{
    font-size: 22px;
}
.pg10-sec1 img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: 10% 30%;
    border-radius: 5px;
}

.blog-heading {
    display: block; 
    margin-bottom: 25px; 
}

.page10 span {
    float: left;    
    display: flex;      
    justify-content: center;
    align-items: center;
    min-width: 30px;         
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 15px;
    margin-top: -2px;
}

.blog-heading h2 {
    display: inline;
}
.pg10-sec2{
    height: 100%;
    width: 30vw;
}
.pg10-sec2 h2{
    font-size: 22px;
}
.pg10-sec2 img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}
.page10 p{
    padding: 5px 9px;
    border: 1px solid black;
    border-radius: 50%;
}
.footer {
    height: 35vh;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.footer h1 {
    height: 100%;
    width: 25%;
    font-family: monument;
    font-size: 35px;
    letter-spacing: -2px;
    display: flex;
    justify-content: center;
    border-right: 2px solid black;
    padding-top: 2vh;
    position: relative;
}
.footer h1::after{
    content: "\00A9";
    font-family: gilroy;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 4%;
    left: 75%;
}
.footer h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 100;
    font-size: 13px;
    position: absolute;
    letter-spacing: 0.01px;
    bottom: 75%;
    right: 21%;
}
.footer > h4 {
    height: 100%;
    width: 20%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    padding-top: 3vh;
    justify-content: center;
    border-right: 2px solid black;
}
.social-media {
    height: 100%;
    width: 35%;
    padding: 3vh 0 3vh 2.5vw; 
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between; 
}

.social-media h4 {
    margin-left: -2.5vw; 
    padding-left: 2.5vw; 
    width: calc(100% + 2.5vw); 
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid black; 
    padding-bottom: 25px;
}
.social-media a {
    text-decoration: none;
    color: black;
    font-size: 26px;
    margin-right: 22px;
    transition: color 0.3s ease;
}

.social-media h6 {
    width: 100%;
    font-size: 13px;
    font-weight: 900;
    color: rgb(48, 48, 48);
    line-height: 1.5;
}
.empty{
    height: 6vh;
    width: 100%;
}

@media (max-width:1200px){
    .nav{
        width: 100%;
        margin-top: 15px;
    }
    .nav h1{
        font-size: 35px;
    }
    .nav h1::after{
        font-size: 17px;
        top: 25%;
        left: 82%;
    }
    .nav h1::before{
        content: "model management";
        font-size: 12px;
        bottom: 25%;
        right: 18%;
    }
    .nav h2{
        font-size: 16.5px;
    }
    .nav :nth-child(2){
        padding-right: 15px;
    }
    .nav :nth-child(3){
        padding-right: 10px;
    }
    .nav :nth-last-child(1){
        width: 10%;
        padding-right: 25px;
    }
    .overlay{
        height: 35%;
    }
    .scroll{
        height: 34vh;
    }
    .elem img{
        width: 12vw;
        left: 25%;
        opacity: 1;
    }
    .elem:nth-last-child(3) img { 
        left: 25%; 
    }
    .elem:nth-last-child(1) img {
        left: 25%;
    }
    .page4{
        height: 70vh;
    }
    .page6-right h6{
        margin-bottom: 30px;
    }
    .pg6-rt-imgs{
        height: 48.5vh;
    }
    .pg6-rt-imgs img{
        border-radius: 5px;
    }
    .pg6-rt-imgs :nth-last-child(1){
        object-position: top;
        width: 42%;
    }
    .page7{
        height: 70%;
    }
    .page7 img{
        border-radius: 5px;
    }
    .page8>img{
        height: 100%;
        width: 58%;
        object-fit: cover;
        object-position:45%;
    }
    .pg8-rt{
        height: 100%;
        width: 39%;
    }
    .pg8-rt img{
        height: 76%;
        width: 100%;
        object-fit: cover;
    }
    .pg8-sec2 h4{
        font-size: 1.7vw;
    }
    .pg8-sec2 h6{
        font-size: 1.3vw;
    }
    .page10{
        height: 85vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 6vw 0vw;
    }
    .pg10-sec1{
        width: 38vw;
    }
    .pg10-sec1 h2{
        font-size: 20px;
    }
    .pg10-sec2{
        width: 38vw;
    }
    .pg10-sec2 h2{
        font-size: 20px;
    }
    .footer h1::after{
        font-size: 17px;
        top: 4%;
        left: 82%;
    }
    .footer h1::before{
        font-size: 12px;
        bottom: 77%;
        right: 18%;
    }
    .empty{
        height: 4vh;
    }
}

@media (max-width:900px){
    .nav{
        height: 12vh;
        margin-top: 20px;
    }
    .nav h1{
        height: 100%;
        width: 18%;
        font-size: 3.35vw;
        letter-spacing: -1.5px;
        width: 25%;
    }
    .nav h1::after{
        font-size: 16px;
        top: 24%;
        left: 85%;
    }
    .nav h1::before{
        font-size: 11px;
        bottom: 25%;
        right: 10%;
    }
    .nav h2{
        height: 100%;
        width: 22%;
        font-size: 1.7vw;
    }
    .nav :nth-child(2){
        padding-right: 0px;
    }
    .nav :nth-child(3){
        padding-right: 0px;
    }
    .nav :nth-last-child(1){
        width: 10%;
        padding-right: 1.5vw;
    }
    .overlay{
        height: 25%;
    }
    .over2 img{
        height: 2vw;
        padding-right: 15px;
    }
    .scroll{
        height: 22vw;
        width: 100%;
    }
    .part1{
        width: 52%;
    }
    .part2{
        height: 100%;
        width: 46%;    
    }
    .part2 img{
        height: 80%;
    }
    .part2-text{
        height: 16vw;
    }
    .part2-text h4{
        font-size: 2vw;
        font-weight: 900;
    }
    .part2-text p{
        font-size: 1.7vw;
    }
    .page3{
        height: 100%;
        width: 100%;
        padding: 0px 60px;
    }
    .page3-heading{
        margin-bottom: 0px;
    }
    .page3-heading h1{
        font-size: 30px;
    }  
    .page3-body-left {
        height: 90vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
    .page3-body-left img {
        height: 28vh;
    }
    .page3-body-left h2 {
        font-size: 2vw;
    }
    .page3-body-right{
        width: 58%;
    }
    .page4{
        height: 55vh;
        width: 100%;
        padding: 3vw 4vw;
    }
    .page5{
        height: 85%;
        width: 100%;
        padding: 2vw 4vw;
    }
    .page5>h1{
        font-size: 30px;
    }
    .elem{
        height: 18vh;
    }
    .elem img{
        height: 90%;
        width: 14vw;
        left: 26%;
        opacity: 1;
    }
    .elem:nth-last-child(1) img,
    .elem:nth-last-child(3) img {
        left: 26%;
    }
    .elem>h4{
        padding-left: 5vh;
        font-size: 1.5vw;
    }
    .elem-right h1{
        font-size: 3vw;
    }
    .elem-right h5{
        padding:0px 2px;
        font-size: 1.35vw;
    }
    .page6>img{
        height: 100%;
        width: 47%;
        object-fit: cover;
        object-position: top;
        border-radius: 5px;
    }
    .page6-right{
        height: 100%;
        width: 50%;
    }
    .page6-right h1{
        font-size: 3vw;
    }
    .pg6-rt-imgs{
        height: 50.5vh;
        width: 100%;
        gap: 2vh;
    }
    .page7{
        height: 50vh;
        padding: 3vw;
    }
    .page8 {
        padding: 3vw;
    }
    .page8>img{
        width: 58%;
    }
    .pg8-rt{
        width: 40%;
    }
    .pg8-rt img{
        height: 80%;
    }
    .pg8-sec2 h4{
        font-size: 1.8vw;
        padding-top: 3.5vw;
    }
    .pg8-sec2 h6{
        padding-top: 1.3vw;
        font-size: 1.5vw;
    }
    .page9{
        margin-top: 2vw;
        height: 6vh;
    }
    .page9 h1{
        font-size: 40px;
        letter-spacing: 4px;
    }
    .page10{
        height: 75vh;
    }
    .page10>h1{
        margin-left: 20px;
        width: 15vw;
        font-size: 3vw;
    }
    .pg10-sec1{
        width: 38vw;
    }
    .pg10-sec1 h2{
        font-size: 16.2px;
    }
    .page10 span {
        min-width: 20px;         
        height: 20px;
        font-size: 12px;
        margin-top: -2px;
        margin-right: 3px;
    }
    .pg10-sec2{
        height: 100%;
        width: 38vw;
    }
    .pg10-sec2 h2{
        font-size: 16px;
    }
    .footer {
        height: 25vh;
    }
    .footer h1 {
        width: 25%;
        font-size: 3.35vw;
        letter-spacing: -1.5px;
    }
    .footer h1::after{
        font-size: 16px;
        top: 6%;
        left: 86%;
    }
    .footer h1::before{
        font-size: 11px;
        bottom: 71%;
        right:9%;
    }
    .footer > h4 {
        font-size: 16px;
    }
    .social-media {
        height: 100%;
        width: 35%;
        padding: 3vh 0 3vh 2.5vw; 
        display: flex;
        flex-wrap: wrap; 
        align-content: space-between; 
    }
    .social-media h4 {
        margin-left: -2.5vw; 
        padding-left: 2.5vw; 
        width: calc(100% + 2.5vw); 
        font-size: 16px;
    }
    .social-media a {
        margin-top: 1vw;
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin-right: 22px;
        transition: color 0.3s ease;
    }
    .social-media h6 {
        width: 100%;
        font-size: 1.2vw;
        font-weight: 900;
        color: rgb(48, 48, 48);
        line-height: 1.5;
    }
    .empty{
        height: 3vh;
    }
}

@media (max-width:800px){
    .nav h1::after{
        display: none;
    }
    .nav h1::before{
        display: none;
    }
}

@media (max-width:500px){
    main{
        overflow-x: hidden;
    }
    .nav{
        height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2vw;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    .nav h1{
        height: 100%;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        font-family: monument;
        font-weight: 900;
        letter-spacing: -2px;
    }
    .nav h1::after{
        display: none;
    }
    .nav h1::before{
        display: none;
    }
    .nav h2{
        display: none;
    }
    .nav h4{
        display:initial;
    }
    .center{
        height: 50vh;
        position: relative;
        padding: 0vw 5vw;
        padding-bottom: 2vw;
        padding-top: 2vw;
        margin-bottom: 10px;
    }
    .content{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .content video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .overlay{
        height: 30%;
        width: 100%;
        position: absolute;
        bottom:0;
        padding: 3vw;
    }
    .over1 {
        display: flex;
        justify-content: space-between;
        height: 10vw;
        color: white;
        border-bottom: 2px solid white;
    }
    .over1 h1{
        font-family: monument;
        font-size: 3.5vw;
        font-weight: 100;
    }
    .over1 h2 {
        font-size: 1.3vw;
        height: 6vw;
        width: 6vw;
    }
    .over2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        padding: 20px 0px;
        height: 4vw;
    }
    .over2 h4{
        font-size: 2vw;
    }
    .over2 img{
        height: 3vw;
        padding-right: 1vw;
    }
    .scroll{
        height: 13vh;
    }
    .scroll #container .scroll-item img{
        height: 15vw;
        width: 15vw;  
        margin-bottom: 5px;
    }
    .alphabet{
        height: 5vh;
        width: 100%;
        gap: 0.1vw;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    .alphabet h5{
        font-size: 2.5vw;
        letter-spacing: 3px;
        margin-right: 20px
    }
    .alphabet h6{
        font-size: 1.6vw;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 1.8px;
    }
    .page2{
        height: 100%;
        width: 100%;
        padding: 2vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:initial;
        padding: 2.5vw 4vw;
        gap: 3vw;
    }
    .part1{
        height: 45%;
        width: 98%;
        background-image: url(https://select-s3.agencypin.com/files/gallery/8432/expanded/gallery_model_zBQpLKZH04la.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }
    .part2{
        height: 55%;
        width: 98%;    
    }
    .part2 img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        border-radius: 5px;
    }
    .part2-text{
        height: 15vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .part2-text h4{
        font-size: 3vw;
        font-weight: 900;
    }
    .part2-text p{
        font-size: 2.5vw;
    }
    .page3 {
        height: auto; 
        width: 100%;
        padding: 5vw; 
    }
    .page3-heading {
        height: auto; 
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .page3-heading h1 {
        font-family: monument;
        font-size: 6vw; 
        text-align: center;
    }  
    .page3-body {
        height: auto; 
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 0px; 
    }
    .page3-body-left {
        height:auto; 
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center; 
    }
    .page3-body-left img {
        height: 15vh;
        margin-top: -15px; 
        margin-bottom: 20px; 
        border-radius: 5px;
        rotate: 90deg;
    }
    .page3-body-left h2 {
        font-size: 4vw; 
        margin-right: 0px; 
    }
    .page3-body-right {
        height: 40vh; 
        width: 100%;
    }
    .page3-body-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .page4{
        height: 35vh;
        width: 100%;
        padding: 3vw 4vw;
    }
    .page5{
        height: 48vh;
        width: 100%;
        padding: 2vw 4vw;
    }
    .page5>h1{
        text-align: center;
        font-family: monument;
        font-size: 5vw;
        margin-bottom: 4vw;
    }
    .elem{
        border-top: 2px solid black;
        height: 10vh;
    }
    .elem img{
        height: 95%;
        width: 15vw;
        left: 25%;
        opacity: 1;
    }
    .elem:nth-last-child(1) img,
    .elem:nth-last-child(3) img {
        left: 25%; 
    }
    .elem>h4{
        padding-left: 3vh;
        font-size: 2vw;
    }
    .elem-right{
        width: 50%;
    }
    .elem-right h1{
        font-size: 5vw;
    }
    .elem-right h5{
        padding:0px 2px;
        font-size: 1.8vw;
    }
    .page6{
        height: 125%;
        width: 100%;
        padding: 5vw 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .page6>img{
        height: 48%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 5px;
    }
    .page6-right{
        height: 50%;
        width: 100%;
        text-align: center;
    }
    .page6-right h1{
        margin-top: 1vh;
        font-family: monument;
        margin-bottom: 2vh;
        text-align: center;
        font-size: 5vw;
    }
    .page6-right h4{
        font-size:4vw;
        margin-bottom: 30px;
    }
    .page6-right h6{
        font-size: 15px;
        margin-bottom: 26px;
    }
    .pg6-rt-imgs{
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .pg6-rt-imgs img{
        height: 80%;
        width: 100%;
        object-fit: cover;
    }
    .pg6-rt-imgs :nth-last-child(1){
        width: 100%;
        display: none;
    }
    .page7{
        height: 30vh;
        width: 80%;
        padding: 0vw 4vw;
        display: initial;
    }
    .page7 img{
        height: 50%;
        width: 92%;
        object-fit: cover;
        display: initial;
    }
    .page8 {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 4vw;
    }
    .page8>img{
        height: 100%;
        width: 60%;
        object-fit: cover;
        object-position:45%;
        border-radius: 5px;
        display: none;
    }
    .pg8-rt{
        height: 100%;
        width: 100%;
    }
    .pg8-rt img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .pg8-sec2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pg8-sec2 h4{
        font-size: 22px;
        padding-top: 18px;
    }
    .pg8-sec2 h6{
        font-size: 16px;
        color: rgb(40, 40, 40);
    }
    .page9{
        margin-top: 38vw;
        height: 6vh;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    .page9 h1{
        -webkit-text-stroke: 1px rgb(34, 34, 34);
        font-family: monument;
        color: transparent;
        font-size: 40px;
        letter-spacing: 4px;
        display: inline-block;
        animation-name: txt-animation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-right: 20px;
    }
    .page10{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 6vw 0vw;
        margin-bottom: 350px;
    }
    .page10>h1{
        width: 100%;
        margin-left: 0px; 
        font-family: monument;
        text-align: center;
        font-size: 5vw;
    }
    .pg10-sec1{
        height: 100%;
        width: 100%;
        padding: 4vw;
        text-align: center; 
    }
    .pg10-sec1 h2{
        font-size: 4vw;
    }
    .pg10-sec1 img{
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: 10% 30%;
        border-radius: 5px;
    }
    .blog-heading {
        display: block; 
        margin-bottom: 25px; 
    }
    .page10 span {
        display: none;
    }
    .pg10-sec2{
        height: 100%;
        width: 100%;
        padding: 4vw;
        text-align: center;
    }
    .pg10-sec2 h2{
        font-size: 4vw;
    }
    .pg10-sec2 img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        border-radius: 5px;
    }
    .page10 p{
        padding: 5px 9px;
        border: 1px solid black;
        border-radius: 50%;
    }
    .footer {
        margin-top: 10px;
        height: auto; 
        width: 100%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        display: flex;
        flex-direction: column; 
    }
    .footer h1 {
        height: auto; 
        width: 100%; 
        font-family: monument;
        font-size: 5vw; 
        letter-spacing: -2px;
        display: flex;
        justify-content: center;
        border-right: none; 
        border-bottom: 2px solid black; 
        padding: 20px 0;
        position: relative;
        display: none;
    }
    .footer h1::after,
    .footer h1::before {
        display: none;
    }
    .footer > h4 {
        height: auto;
        width: 100%; 
        font-size: 4vw;
        font-weight: 600;
        display: flex;
        padding: 15px 0;
        justify-content: center;
        border-right: none; 
        border-bottom: 2px solid black; 
    }
    .social-media {
        height: auto;
        width: 100%; 
        padding: 25px 5vw; 
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;
    }
    .social-media h4 {
        margin: 0; 
        padding: 0; 
        width: 100%; 
        font-size: 4vw;
        font-weight: 600;
        text-align: center; 
        border-bottom: none; 
        margin-bottom: 20px; 
    }
    .social-media a {
        text-decoration: none;
        color: black;
        font-size: 28px; 
        margin: 0 10px; 
    }
    .social-media h6 {
        width: 100%;
        font-size: 3vw;
        font-weight: 900;
        color: rgb(48, 48, 48);
        line-height: 1.5;
        text-align: center; 
        margin-top: 25px;
    }
    .empty{
        height: 0vh;
        width: 100%;
    }
}